.footer__bottom {
   padding-top: 50px;
   padding: 0 12px;
   margin: 0 76px;
}

.footer__bottom__info {
   display: flex;
   width: 1320px;
   margin-left: auto;
   margin-right: auto;
}

.footer__bottom__info > div {
   margin-top: 24px;
   padding: 0 12px;
}

.corpo__name {
   font-size: 28px;
   font-weight: 600;
   color: var(--heading-color);
   margin-bottom: 16px;
   font-family: var(--heading-font);
}

.corpo__info {
   font-size: 14px;
   color: var(--default-color);
}
.corpo__info p {
   margin-bottom: 5px;
   font-family: var(--default-font);
}
.corpo__info > .phone {
   margin-top: 16px;
}
.corpo__info p span {
   font-weight: bold;
}

.footer__bottom__corpo {
   width: 33.33333333%;
}
.footer__bottom__LandS {
   width: 16.66666667%;
}
.footer__bottom__follow {
   width: 33.33333333%;
}

.footer__bottom__LandS h4, .footer__bottom__follow h4 {
   font-size: 16px;
   font-weight: bold;
   padding-bottom: 12px;
   color: var(--heading-color);
   font-family: var(--heading-font);
}
.footer__bottom__LandS__menu li {
   padding: 10px 0;
   display: flex;
   align-items: center;
   box-sizing: border-box;
}
.footer__bottom__LandS__menu i {
   font-size: 12px;
   padding-right: 3px;
   color: var(--accent-color);
}
.footer__bottom__LandS__menu a {
   color: var(--default-color);
   font-size: 14px;
   text-decoration: none;
   box-sizing: border-box;
}

.footer__bottom__LandS__menu a:hover {
   color: var(--accent-color);
   cursor: pointer;
}

.footer__bottom__follow h4 {
   padding-bottom: 12px;
   margin-bottom: 8px;
}
.footer__bottom__follow p {
   margin-bottom: 16px;
   font-family: var(--default-font);
   color: var(--default-color);
   font-size: 14px;
}
.footer__bottom__follow div {
   display: flex;
   gap: 10px;
}
.footer__bottom__follow__img div {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
   width: 40px;
   height: 40px;
   font-size: 16px;
   color: var(--default-color);
}

.footer__bottom__follow__img div:hover {
   border-color: var(--accent-color);
   color: var(--accent-color);
   cursor: pointer;
}

.footer__bottom__copyright {
   margin: 24px 0;
   margin-bottom: 0;
   padding: 25px 0;
   border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
   text-align: center;
   width: 1320px;
}
.footer__bottom__copyright__p1 {
   font-size: 14px;
}
.footer__bottom__copyright__p1 span {
   font-weight: bold;
   padding: 0 4px;
   color: var(--default-color);
}
.footer__bottom__copyright__p2 {
   font-size: 13px;
   margin-top: 6px;
   color: var(--default-color);
}
.footer__bottom__copyright__p2 span {
   color: var(--accent-color);
}

.footer {
    color: var(--default-color);
    background-color: #ffffff;
    font-size: 14px;
    padding-bottom: 50px;
    position: relative;
}

.footer__top {
    background-color: #f5f6f8;
    padding: 50px 0;
}

.footer_card {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1*var(--bs-gutter-y));
    margin-right: calc(-0.5*var(--bs-gutter-x));
    margin-left: calc(-0.5*var(--bs-gutter-x));
    text-align: center;
    justify-content: center;
}

.footer_content {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)*0.5);
    padding-left: calc(var(--bs-gutter-x)*0.5);
    margin-top: var(--bs-gutter-y);
}

@media screen and (min-width: 992px) {
    .footer_content {
        flex: 0 0 auto;
        width: 50%;
    }
}

.footer_content h4 {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
    color: #37517e;
    font-family: var(--heading-font);
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.footer_content p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.email_form {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 6px 8px;
    position: relative;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    transition: 0.3s;
    border-radius: 50px;
}

.email_form input[type=email] {
    border: 0;
    padding: 4px;
    width: 100%;
    background-color: white;
    color: #444444;
    margin: 0;
    /*font-family 추가할 자리*/
    font-size: inherit;
    line-height: inherit;
}

.email_form input[type=submit] {
    border: 0;
    padding: 0 20px;
    background: #47b2e4;
    color: #ffffff;
    margin: -7px -8px -7px 0;
    /*font-family 추가할 자리*/
    font-size: 16px;
    transition: 0.3s;
    border-radius: 50px;
}

.email_form input[type=submit]:hover {
   background: #6fc1e7;
   cursor: pointer;
}