* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
section{
    color: #444444;
    background-color: white;
    padding: 60px 0;
    scroll-margin-top: 88px;
    overflow: clip;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main5 {
    display: flex;
}
#main5 p{
    line-height: 1.25;
}
#main5 img{
    width: 636px;
}
#main5-wrap{
    display: flex;
    flex-direction: row;
    width: 1320px;
    box-sizing: border-box;
    margin: 3rem;
}
#main5-left{
    display: flex;
    align-items: center;
    padding: 0 12px;
    width: 50%;
}
#main5-right{
    padding: 0 12px;
    width: 50%;
}
#main5-right p:nth-of-type(1){
    font-size: 32px;
    font-weight: 700;
    color: var(--heading-color);
    font-family: var(--heading-font);
    margin: 0px 0px 8px;
}
#main5-right p:nth-of-type(2){
    font-size: 16px;
    font-style: italic;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    font-family: var(--default-font);
    margin: 0px 0px 16px;
}
@media (max-width: 1400px) {
    #main5-wrap {
        width: 1140px;
    }
    #main5 img{
        width: 546px;
    }
}
@media (max-width: 1200px) {
    #main5-wrap {
        width: 960px;
    }
    #main5 img{
        width: 456px;
    }
}
@media (max-width: 992px) {
    #main5-wrap {
        width: 720px;
        flex-direction: column;
    }
    #main5-right{
        width: 100%;
        padding-top: 24px;
    }
    #main5 img{
        width: 696px;
    }
}
@media (max-width: 763px) {
    #main5-wrap {
        width: 540px;
    }
    #main5 img{
        width: 516px;
    }
}
@media (max-width: 576px) {
    #main5-wrap, #main5 img, #main5-left {
        width: 100%;
    }
}
#main5-skills{
    width:100%
}
.skills-graph{
    font-size: 12px;
    height: 60px;
    width: 100%;
    display: block;
    background: none;
    border-radius: 0;
}
.skills-graph span{
    color: var(--default-color);
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: flex;
    font-weight: 600;
    font-family: var(--heading-font);
}
.skills-graph > span > div:nth-of-type(2){
    margin-left: auto;
    font-style: normal;
}
.progress-bar{
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: var(--heading-color);
}
.progress-bar-wrap{
    background: color-mix(in srgb, var(--heading-color), transparent 90%);
    height: 10px;
}
#main-cta{
    position: relative;
    width: 100%;
    color: white;
    padding: 120px 0;
    background-image: url(https://bootstrapmade.com/demo/templates/Arsha/assets/img/cta-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 345.59px;
}
#main-cta a{
    height: 50px;
}
#main-cta-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, #37517e, transparent 35%)
}
#main-cta-wrap{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 3rem;
}
#cta-content{
    width: 75%;
    max-width: 990px;
    padding: 0 12px;
}
#main-cta-wrap p:nth-of-type(1){
    color: white;
    font-size: 28px;
    font-weight: 700;
    font-family: var(--heading-font);
    margin: 0px 0px 8px;
}
#main-cta-wrap p:nth-of-type(2){
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: var(--default-font);
    line-height: 1.5;
}
#main-cta-wrap div:last-of-type{
    width: 25%;
    display:flex;
    text-align: center;
    justify-content: center;
}
#cta-button {
    text-decoration:none;
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid var(--contrast-color);
    color: var(--contrast-color);
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}
#cta-button:hover{
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
}
@media (max-width: 1200px) {
    #cta-content {
        text-align: center;
    }
    #main-cta-wrap {
        flex-direction: column;
        align-items: center;
    }
}

#main-portfolio{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#main-portfolio-top{
    width: 80%;
    padding-bottom: 4rem;
}
#main-portfolio-top > div{
    padding: 0px;
    font-size: 32px;
    font-weight: 700;
    font-family: var(--heading-font);
    text-transform: uppercase;
    position: relative;
}
#main-portfolio-top > p{
    font-family: var(--default-font);
}
#portfolio-filter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
#portfolio-filter li{
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 5px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    font-family: var(--heading-font);
}
#portfolio-filter li:first-of-type{
    color: var(--contrast-color);
    background-color: var(--accent-color)
}
#portfolio-filter li:hover{
    color: var(--contrast-color);
    background-color: var(--accent-color)
}

#main-portfolio-bottom{
    width: 1320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    margin: auto;
}
#portfolio-album {
    height: 1249.13px;
    position: relative;
    width: 100%;
    margin: 0 -12px;
}
.portfolio-card{
    width: 440px;
    height: auto;
    margin: 24px 0 0;
    padding: 0 12px;
    position: absolute;
    z-index:3;
    overflow: hidden;
}
.portfolio-img{
    display: inline-block;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    transition: 0.5s;
    width: 100%;
    height: auto;
    border: none;
}
.portfolio-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img-column1{
    position: absolute;
    left: 0px;
    transition: .3s;
}
.card6{
    top: 445.711px;
}
.img-column2{
    position: absolute;
    left: 440px;
    transition: .5s;
}
.card5{
    top: 302.93px;
}
.card9{
    top: 948.782px;
}
.img-column3{
    position: absolute;
    left: 880px;
    transition: .7s;
}
.card4{
    top: 258px;
}
.card7{
    top: 557.078px;
}
.card8{
    top: 851.109px;
}
@media (max-width: 1400px) {
    #main-portfolio-bottom{
        width: 1140px;
    }
    #portfolio-album {
        height: 1079.34px;
    }
    .portfolio-card{
        width: 380px;
    }
    /* 1열 */
    .card6{
        top: 384.891px
    }
    /* 2열 */
    .img-column2{
        left: 380px;
    }
    .card5{
        top: 262.695px;
    }
    .card9{
        top: 818.859px
    }
    /* 3열 */
    .img-column3{
        left: 760px;
    }
    .card4{
        top: 224.25px;
    }
    .card7{
        top: 483.648px;
    }
    .card8{
        top: 738.734px;
    }
}
@media (max-width: 1200px) {
    #main-portfolio-bottom{
        width: 960px;
    }
    #portfolio-album {
        height: 909.55px;
    }
    .portfolio-card{
        width: 319.99px;
    }
    /* 1열 */
    .card6{
        top: 319.992px;
    }
    /* 2열 */
    .img-column2{
        left: 319.992px
    }
    .card5{
        top: 222.461px;
    }
    .card9{
        top: 688.922px;
    }
    /* 3열 */
    .img-column3{
        left: 639.984px;
    }
    .card4{
        top: 190.492px;
    }
    .card7{
        top: 410.211px;
    }
    .card8{
        top: 626.344px;
    }
}
@media (max-width: 992px) {
    /* 여기부터 2칼럼 */
    #main-portfolio-bottom{
        width: 720px ;
    }
    #portfolio-album {
        height: 1477.86px;
    }
    .portfolio-card{
        width: 360px;
    }
    /* 1열 */
    .card1, .card4, .card6, .card8{
        left: 0px;
    }
    .card1{
        top: 0px;
    }
    .card4{
        top: 364.617px;
    }
    .card6{
        top: 610.797px;
    }
    .card8{
        top: 1134.44px
    }
    /* 2열 */
    .card2, .card3, .card5, .card7, .card9{
        left: 360px;
    }
    .card2{
        top: 0px;
    }
    .card3{
        top: 249.289px;
    }
    .card5{
        top: 462.289px;
    }
    .card7{
        top: 988.555px;
    }
    .card9{
        top: 1230.66px;
    }
}
@media (max-width: 763px) {
        /* 여기부터 1칼럼 */
        #main-portfolio-bottom{
            width: 540px ;
        }
        #portfolio-album {
            height: 4276.66px;
        }
        .portfolio-card{
            width: 540px;
            left: 0px;
        }
        .card1{
            top: 0px;
        }
        .card2{
            top: 547.086px;
        }
        .card3{
            top: 917.063px;
        }
        .card4{
            top: 1231.31px;
        }
        .card5{
            top: 1596.52px;
        }
        .card6{
            top: 2391.85px;
        }
        .card7{
            top: 3183.16px;
        }
        .card8{
            top: 3542.11px;
        }
        .card9{
            top: 3909.89px;
        }
}
.portfolio-info{
    opacity: 0;
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: -100%;
    z-index: 1;
    transition: all ease-in-out 0.5s;
    background: rgba(255, 255, 255, 0.90);
    padding: 15px;
    line-height: 1.5;
}
.portfolio-card:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
    z-index: 4;
}
.portfolio-info > h4 {
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    text-align: left;
    margin: 0 0 8px;
}
.portfolio-info > p {
    color: color-mix(in srgb, #444444, transparent 30%);
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 50px;
    text-align: left;
}
.portfolio-zoom, .portfolio-link{
    display: inline-block;
    line-height: 1;
    position: absolute;
    top: calc(50% - 14px);
    transition: .3s;
}
.portfolio-zoom:hover, .portfolio-link:hover{
    color: var(--accent-color);
}
.portfolio-zoom{
    right: 50px;
    font-size: 24px;
}
.portfolio-link{
    right: 14px;
    font-size: 28px;
}

/* @media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}*/