.testimonials__container {
   width: 100%;
   padding: 60px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.testimonials__per {
   margin: 0 57px;
   padding: 0 12px
}

.testimonials__intro {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.testimonials__intro > img {
   width: 120px;
   height: 120px;
   border-radius: 50%;
   object-fit: cover;
   border: 4px;
}

.testimonials__name {
   font-size: 20px;
   font-weight: bold;
   margin: 10px 0 5px 0;
   color: var(--heading-color);
}

.testimonials__position {
   color: color-mix(in srgb, var(--default-color), transparent 40%);
   font-size: 14px;
   padding: 0 0 15px;
}

.star {
   color: #ffc107;
   margin: 0 0 15px; 
}

.testimonials__sent {
   display: block;
   padding: 0 93px 15px 93px;
   top: 90px;
}
.testimonials__sent > i {
   font-size: 26px;
   color: color-mix(in srgb, var(--accent-color), transparent 50%);
}
.testimonials__sent > .quote-icon-right {
   display: inline-block;
   transform: rotateY(180deg);
}
.testimonials__sent > span {
   font-size: 16px;
   color: var(--default-color);
   font-style: italic;
}

.testimonials__bar {
   margin: 20px 0 0;
   display: flex;
   justify-content: center;
   gap: 8px;
}
.testimonials__bar > div {
   width: 12px;
   height: 12px;
   background-color: color-mix(in srgb, var(--default-color), transparent 85%);
   border-radius: 50%;
}

.questions__container {
   background-color: var(--background-color);
   width: 100%;
   padding: 60px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.questions__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 960px;
   margin: 0 12px;
   padding: 0 12px;
}

.questions__content li {
   display: flex;
   flex-direction: column;
   width: 736px;
   padding: 20px;
   background-color: white;
   margin-bottom: 20px;
}
.questions__quest > .top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.questions__quest > .top > .bi-question-circle {
   display: flex;
   align-items: center;
   gap: 10px;
   color: var(--accent-color);
   font-size: 20px;
}
.bi-question-circle > p {
   font-weight: bold;
   font-size: 18px;
   color: var(--heading-color);
}
.questions__quest > .top > .bi-chevron-right {
   font-size: 16px;
   color: var(--default-color);
}
.questions__quest > .questions__quest__content {
   text-align: left;
   padding-top: 10px;
   font-size: 16px;
   color: var(--default-color);
}