section, .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    /*scroll-margin-top: 88px;*/
}

*, ::after, ::before {
    box-sizing: border-box;
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .main__title {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.team_section {
    width: 100%;
}

.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

.team_card_of_4 {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1.5rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.team_card_of_4 > * {
    max-width: 100%;
    --bs-gutter-x: 1.5rem;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-top: var(--bs-gutter-x);
}

.team_card {
    max-width: 100%;
    margin: 24px 0 0;
    padding: 0 12px;
}

@media screen and (max-width: 991px) {
    .team_card {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .team_card {
        flex: 0 0 auto;
        width: 50%;
    }   
}

.team_card_content {
    background-color: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 5px;
    transition: 0.5s;
    padding: 30px;
    align-items: flex-start;
    display: flex;
}

.pic {
    overflow: hidden;
    width: 150px;
    border-radius: 50%;
    flex-shrink: 0;
}

.team_img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    /*overflow-clip-margin: content-box;
    overflow-x: ;
    overflow-y: ;*/
}

.member_info {
    padding: 30px;
    display: block;
}

.member_info h4 {
    display: block;
    /*margin-block-start: 1.33rem;
    margin-block-end: 1.33rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px*/
    color: var(--heading-color);
    /*font-family*/
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: 0;
    line-height: 1.2rem;
}

.team, .team_card_content span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}
.team, .team_card_content span::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: gray;
    bottom: 0;
    left: 0;
}

.team_card_content p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.social a {
    background-color: lightgray;
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    margin-left: 8px;
    color: var(--accent-color);
    text-decoration: none;
}

.social a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

.social a:hover i {
    color: #ffffff;
}

.social a i {
    color: var(--default-color);
    font-size: 16px;
    margin: 0 2px;
    /*font-style: italic;*/
}


.bi-twitter-x::before {
    display: inline-block;
    content: '\f8db';
    /*font-family
    font-weight
    font-variant*/
    font-style: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
}

.bi-facebook::before {
    display: inline-block;
    content: '\f344';
    /*font-family
    font-weight
    font-variant*/
    font-style: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
}

.bi-instagram::before {
    display: inline-block;
    content: '\f437';
    /*font-family
    font-weight
    font-variant*/
    font-style: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
}

.bi-linkedin::before {
    display: inline-block;
    content: '\472';
    /*font-family
    font-weight
    font-variant*/
    font-style: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
}

/* ----------------- pricing section ----------------- */
.pricing_section {
    color: var(--default-color);
    background-color: #f5f6f8;
    padding: 60px 0px;
    width: 100%;
    /*scroll-margin-top*/
}

.pricing_card_of_3 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1*var(--bs-gutter-y));
    margin-right: calc(-0.5*var(--bs-gutter-x));
    margin-left: calc(-0.5*var(--bs-gutter-x));
}

@media screen and (max-width: 991px) {
    .pricing_card {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media screen and (min-width: 992px) {
    .pricing_card {
        flex: 0 0 auto;
        width: 33.333333%;
    }
}

.pricing_card {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)*0.5);
    padding-left: calc(var(--bs-gutter-x)*0.5);
    margin-top: var(--bs-gutter-y);
}

.pricing_card_content {
    background-color: #ffffff;
    box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.1);
    border-top: 4px solid #f5f6f8;
    padding: 60px 40px;
    height: 100%;
    border-radius: 5px;
}

.pricing_card_content h3 {
    font-weight: 600;
    margin-top: 0;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--heading-color);
    /*font-family 해야됨*/
}

.pricing_card_content h4 {
    color: var(--accent-color);
    font-size: 48px;
    font-weight: 400;
    /*font-family 해야됨*/
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2;
}

.pricing_card_content h4 sup {
    top: -0.5em;
    font-size: 28px;
    position: relative;
    line-height: 0;
    vertical-align: baseline;
}

.pricing_card_content h4 span {
    color: lightgray;
    font-size: 18px;
}

.pricing_card_content ul {
    padding: 20px 0;
    list-style: none;
    color: gray;
    text-align: left;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.pricing_card_content ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.pricing_card_content ul li i {
    color: #059652;
    font-size: 24px;
    padding-right: 3px;
}

.bi-check::before {
    content: '\f26e';
}

.main__btn {
    padding: 10px 28px 12px;
    color: #47b2e4; /*수정*/
    border: 1px solid; /*수정*/
    background-color: #ffffff; /*수정*/
    border-radius: 50px;
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none; /*추가*/
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

.main__btn:hover {
    background-color: #41a5d3;
    color: #ffffff; /*추가*/
    transform: translateY(-2px);
}

.main__btn_checked {
    padding: 10px 28px 12px;
    background-color: #47b2e4;
    border: 1px solid;
    color: #ffffff;
    border-radius: 50px;
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

}

/*.bi::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
}*/

.pricing_card_content ul .na {
    color: gray;
}

.pricing_card_content ul .na i {
    color: gray;
    font-size: 24px;
    padding-right: 3px;
}

.bi-x::before {
    content: '\f62a';
}

.pricing_card_content ul .na span {
    text-decoration: line-through;
}

/*버튼*/

.pricing_card_content_featured {
    background-color: #ffffff;
    box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.1);
    border-top: 4px solid var(--accent-color);
    padding: 60px 40px;
    height: 100%;
    border-radius: 5px;
}

.pricing_card_content_featured h3 {
    font-weight: 600;
    margin-top: 0;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--heading-color);
    /*font-family 해야됨*/
}

.pricing_card_content_featured h4 {
    color: var(--accent-color);
    font-size: 48px;
    font-weight: 400;
    /*font-family 해야됨*/
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2;
}

.pricing_card_content_featured h4 sup {
    top: -0.5em;
    font-size: 28px;
    position: relative;
    line-height: 0;
    vertical-align: baseline;
}

.pricing_card_content_featured h4 span {
    color: lightgray;
    font-size: 18px;
}

.pricing_card_content_featured ul {
    padding: 20px 0;
    list-style: none;
    color: gray;
    text-align: left;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.pricing_card_content_featured ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.pricing_card_content_featured ul li i {
    color: #059652;
    font-size: 24px;
    padding-right: 3px;
}
/* 버튼 추가할 자리*/

/* ----------------- services section ----------------- */

.services_section {
    color: var(--default-color);
    background-color: #f5f6f8;
    padding: 60px 0px;
    width: 100%;
    /*scroll-margin-top*/
}

.services_card_of_4 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1*var(--bs-gutter-y));
    margin-right: calc(-0.5*var(--bs-gutter-x));
    margin-left: calc(-0.5*var(--bs-gutter-x));
}

.services_card {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)*0.5);
    padding-left: calc(var(--bs-gutter-x)*0.5);
    margin-top: var(--bs-gutter-y);
}

@media screen and (min-width: 768px) {
    .services_card {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .services_card {
        flex: 0 0 auto;
        width: 25%;
    }
}

.services_card_content {
    background-color: #ffffff;
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    height: 100%;
    position: relative;
}

.services_card_content .icon {
    margin-bottom: 10px;
}

.services_card_content .icon i {
    color: var(--accent-color);
    font-size: 36px;
    transition: 0.3s;
}

.bi-activity::before {
    content: '\f66b';
}

.services_card_content:hover {
    transform: translateY(-10px);
}

.services_card_content h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    margin-top: 0;
    line-height: 1.2;
}

.services_card_content h4 a {
    color: var(--heading-color);
    transition: ease-in-out 0.3s;
    text-decoration: none;
}

.services_card_content h4 a:hover {
    color: var(--accent-color);
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.services_card_content p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}