/* 공통 부분 아코디언 */
/* <div class="QandA__content">
      <ul>
         <li>
            <input type="checkbox" id="answer$">
            <label for="answer$">
               <i class="bi bi-question-circle"><p>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</p></i>
               <i class="bi bi-chevron-right"></i>
            </label>
            <div>
               Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
            </div>
         </li>
   요런 식으로 적어야 함
   나머지 디자인은 본인이 바꾸면 됨
   ** class 이름이랑 id 바꾸면 안 됨!!! **
*/

.QandA__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 76px;
   padding: 0 12px;
}
.QandA__content ul {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 1088px;
}
.QandA__content li {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 20px;
   background-color: white;
   margin-bottom: 20px;
}

input[id *= "answer"] {
   display: none;
}
input[id *= "answer"] + label {
   display: flex;
   justify-content: space-between;
   text-align: center;
}
input[id *= "answer"] + label .bi-question-circle {
   display: flex;
   align-items: center;
   gap: 10px;
   color: var(--accent-color);
   font-size: 20px;
}
input[id *= "answer"] + label .bi-question-circle > p {
   font-weight: bold;
   font-size: 18px;
   color: var(--heading-color);
}
input[id *= "answer"] + label + div {
   text-align: left;
   font-size: 16px;
   color: var(--default-color);
   max-height: 0px;
   transition: all .3s;
   overflow: hidden;
}
input[id *= "answer"] + label + div p {
   display: inline-block;
   padding-top: 10px;
}
input[id *= "answer"]:checked + label .bi-chevron-right {
   transition: .3s;
}

input[id *= "answer"]:checked + label + div {
   max-height: 500px;
   padding-top: 10px;
}
input[id *= "answer"]:checked + label p {
   color: var(--accent-color);
}
input[id *= "answer"]:checked + label .bi-chevron-right {
   transform-origin: 50%, 0;
   transform: rotate(90deg);
   color: var(--accent-color);
}

.QandA__content ul li p:hover {
   color: var(--accent-color);
}
.bi-chevron-right:hover {
   color: var(--accent-color);
}

